.characterBio {
   display: grid;
   grid-template-columns: 4fr 6fr;
   grid-gap: 0.5em;
   margin: 0.5em;
   padding: 1em;
}

img {
   width: 90%;
   max-width: 10em;
   max-height: 10em;
}

.characterBio > .imgContainer {
   text-align: center;
   justify-content: center;
   font-size: 2em;
   font-weight: bold;
   border-right: 0.1em solid black;
}

.characterBio > .personalInfo {
   font-size: 1.5em;
}

.characterBioTag {
   margin-bottom: 0.5em;
   border-bottom: 0.1em dashed black;
}

.characterBioTag :first-child {
   font-weight: bold;
}

.characterBioTag :last-child {
   float: right;
}
